.app {

    height: 100vh;

    .animation {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;

    }

    .animationLayer {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }

    .nameContainer {
        width: 100%;
        text-align: center;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #skyLayer {
        background-image: url("../../common/img/parallax-layers/sky.png");
    }
    #name {
        font-size: 7vw;
        font-weight: 600;
    }
    #houseLayer {
        background-image: url("../../common/img/parallax-layers/house.png");
    }
    #groundLayer {
        background-image: url("../../common/img/parallax-layers/ground.png");
        background-repeat: no-repeat repeat;
    }
    #grassLayer {
        background-image: url("../../common/img/parallax-layers/grass.png");
        bottom: 0;
    }
}
