.videoContainer {
    height: 100vh;
    position: fixed;

    .video {
        height: 100%;
    }
}

.glassContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;

    .glass {
        height: 80%;
        width: 80%;
        border-radius: 10px;
        border: 2px solid rgba(143, 143, 143, 0.2);
        background: rgba(166, 166, 166, 0.4);
        backdrop-filter: blur(15px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
